<div class="comment clearfix">
  <div class="comment_content">
    <p class ="comment_name"><strong><%= comment.name %></strong></p>
    <p class ="comment_body"><%= comment.body %></p>
    <p class ="comment_time"><%= time_ago_in_words(comment.created_at) %> Ago </p>
  </div>


<!-- if we delete a post, we need to make sure that the comments are deleted also so that the comments don't take up space in memory. We need to go and adjust the post MODEL-->
  <% if user_signed_in? %>
    <p><%= link_to 'Delete', [comment.post, comment],
      method: :delete,
      class: "button",
      data: { confirm: 'Are you sure?'} %>
  <% end %>
  </p>

    </div>
