 <div id="page_wrapper">
 <div id="profile_image.jpeg"%>
 </div>

 <div id="content">

    <h1>This is the About page</h1>
    <!-- 
    below we need to grab the partial (for the form so we can edit posts) -->
  </div>
</div>